body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.select-item{
  width: 180px!important;
  display: inline-block!important;
}

.details-btn{
    padding: 0px 15px 0px 0px;
}
.delete-btn{
    padding: 0px 15px 0px 0px;
    color: red;
}
.pager{
    display: inline-block;
}
.pager-btn{
    display: inline-block;
    width: 26px;
    padding: 4px 0px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0px 8px 0px 0px;
    font-size: 13px;
    color: #333;
}
.pager-btn.active{
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
}
.counter{
    font-size: 14px;
    color: #666;
}
.nav-item{
    min-width: 100px;
    text-align: center;
}
.nav-item.active{
    position: relative;
}
.nav-item.active::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
}
.table{
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.table tr th{
    background-color: #f8f8f8;
    color: #222!important;
    font-size: 14px;
    min-width: 100px;
}
.table tr td,
.table tr th{
    font-size: 13px;
    font-weight: normal;
    color: #444;
}
.page-title-wrapper{
    padding: 15px 0px;
}
.page-title{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.result-item{
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    line-height: 22px;
}
.result-item .result-update-time{
    padding: 0px 20px;
    font-size: 13px;color: #999;
}
.result-item .result-status{
    font-size: 13px;
    color: #333;
}
.table-wrapper{
    padding: 0px 15px;
}
.empty{
    border-top: 1px solid #ddd;
    padding: 30px 10px;
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.notification{
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 13px;
    text-decoration: blink;
}