body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.file-list{
  padding: 10px;
}
.select-item{
  width: 180px!important;
  display: inline-block!important;
}