extends layout

block content
  div(ng-controller='detailsPageCtrl')
    div
      nav(aria-label='breadcrumb',style='position:relative')
        ol(class='breadcrumb',style='background-color:#fff')
          li(class='breadcrumb-item')
            a(href='/') 批量任务
          li(class='breadcrumb-item active',aria-current='page') {{result.details.name}}
        span(class='notification') 时间: {{notification.update_time|date:'yyyy-MM-dd HH:mm:ss'}}  任务名称: {{notification.name}}  当前页数: {{notification.current}}  总页数: {{notification.total}}

      div(ng-show='result.details.status==0',style='padding-bottom: 10px') 请选择名称
        select(class='form-control form-control-sm select-item',ng-model='column_name')
          option(ng-repeat='header in result.headers',value='{{header}}') {{header}}
        button(class='btn btn-sm btn-info',ng-click='checkFile()',style='margin-left:10px') 开始处理

    div(class='table-wrapper')
      table(class='table')
        tr
          th(ng-repeat='header in result.headers') {{header}}
          th(ng-if='result.details.status==1') 操作
        tr(ng-repeat='column in columns')
          td(ng-repeat='header in result.headers')
            table-data-cell-item(name='column[header]',header='{{header}}')
          td(ng-if='result.details.status==1')
            a(href='/task/?key={{column.sha1}}&bpage={{details.page}}') 查看任务结果
      div
        div(class='pager')
          a(class='pager-btn {{page==details.page?"active":""}}' ng-repeat='page in pages',ng-href='/details/?key={{details.key}}&page={{page}}&size={{details.size}}') {{page}}
        span(class='counter') 共计 {{result.total}} 条记录





