extends layout

block content
  div(ng-controller='uploadPageCtrl')
    nav(aria-label='breadcrumb')
      ol(class='breadcrumb',style='background-color:#fff;position: relative')
        li(class='breadcrumb-item active',aria-current='page') 批量任务
        button(class='btn btn-sm btn-outline-info',style='position: absolute;right:15px;top:10px',ngf-select="uploadFiles($files)" multiple="multiple") 上传文件
    div(class='table-wrapper')
      table(class='table')
        tr
          th 文件名称
          th 文件大小
          th 上传时间
          th 任务总数
          th 状态
          th 操作

        tr(ng-repeat='file in files')
          td {{file.name}}
          td {{file.size_label}}
          td {{file.time|date:'yyyy-MM-dd HH:MM:ss'}}
          td {{file.total||'-'}}
          td {{file.status_label}}
          td
            a(class='details-btn',href='/details/?key={{file.sha1}}') 详情

      div
        div(class='pager')
          a(class='pager-btn {{page==details.page?"active":""}}' ng-repeat='page in pages',ng-href='/?page={{page}}&size={{details.size}}') {{page}}
        span(class='counter') 共计 {{total}} 条记录





