doctype html
html(ng-app='collector')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/angular-autocomplete.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript',src='/angularjs/angular.min.js')
    script(type='text/javascript',src='/angularjs/angular-upload.min.js')
    script(type='text/javascript',src='/angularjs/angular-autocomplete.js')
    script(type='text/javascript',src='/jquery/jquery-1.12.4.min.js')
    script(type='text/javascript',src='/js/collector.js')
    script(type='text/javascript',src='/js/directives/table-data-cell.js')
    script(type='text/javascript',src='/socket/socket.io.min.js')


  body
    nav(class='navbar navbar-expand-lg fixed-top navbar-dark',style='background-color:#17a2b8;')
      a(class='navbar-brand',href='#')
        img(src='/images/logo.png',height=30, style='float:left')
        span(style='padding-top:2px;margin-left:10px;margin-right:15px ') 采集器
      button(class='navbar-toggler',type='button',data-toggle='collapse',data-target='#navbarSupportedContent',aria-controls='navbarSupportedContent',aria-expanded='false',aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')

      div(class='collapse navbar-collapse',id='navbarSupportedContent')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item {{page_nav=="upload"?"active":""}}')
            a(class='nav-link',href='/') 数据采集
              span(class='sr-only') (current)
          li(class='nav-item {{page_nav=="query"?"active":""}}')
            a(class='nav-link',href='/query/') 结果查询
              span(class='sr-only') (current)

    div(class='container-fluid',style='padding:80px 30px')
      block content


