doctype html
html(ng-app='collector')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript',src='/angularjs/angular.min.js')
    script(type='text/javascript',src='/angularjs/angular-upload.min.js')
    script(type='text/javascript',src='/js/collector.js')
    script(type='text/javascript',src='/js/directives/table-data-cell.js')
    script(type='text/javascript',src='/socket/socket.io.min.js')

  body
    block content
